.new-tweet{
  position: relative;
  margin-top: 25px;
  background-color: lightgrey;
  border-radius: 15px;
  border: 2px solid grey;
  width: 100%;
  height: 150px;
}

.new-tweet > h2{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 175%;
  border-bottom: 2px solid black;
}


.new-tweet > form{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.new-tweet > form > textarea{
  width: 100%;
}

.new-tweet > form > span{
  margin-left: 320px;
}